{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="col-lg-12">
  <div class="row">
    <div class="col-12">
      <h3 class="bg-body">Details of {{ lead.name }} Projct</h3>

      <div class="container mt-4">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <th>Client:</th>
                  <td>{{ lead.client }}</td>
                </tr>
                <tr>
                  <th>Location:</th>
                  <td>{{ lead.location }}</td>
                </tr>
                <tr>
                  <th>Brand:</th>
                  <td>{{ lead.brand }}</td>
                </tr>
                <tr>
                  <th>Salesman:</th>
                  <td>{{ lead.salesman }}</td>
                </tr>
                <tr>
                  <th>Manager:</th>
                  <td>{{ lead.manager }}</td>
                </tr>
                <tr>
                  <th>Type of Construction:</th>
                  <td>{{ lead.type_of_construction }}</td>
                </tr>
                <tr>
                  <th>Category:</th>
                  <td>{{ lead.category }}</td>
                </tr>
                <tr>
                  <th>Lead Status:</th>
                  <td>{{ lead.get_lead_status_display }}</td>
                </tr>
                <tr>
                  <th>Estimated Closing Date:</th>
                  <td>{{ lead.est_closing_date }}</td>
                </tr>
                <tr>
                  <th>Estimated Date of Delivery:</th>
                  <td>{{ lead.est_date_of_delivery }}</td>
                </tr>
                <tr>
                  <th>Potential Value:</th>
                  <td>{{ lead.potential_value|intcomma }}</td>
                </tr>
                <tr>
                  <th>Winning Chance:</th>
                  <td>{{ lead.get_winning_chance_display }}</td>
                </tr>
                <tr>
                  <th>Forecasted Potential Value:</th>
                  <td>{{ lead.forecast_pxp|intcomma }}</td>
                </tr>
              </tbody>
            </table>

            <!-- View Lead edit button -->
            <button type="button" onclick="location.href='{% url 'lead_master:lead_edit' pk=lead.pk %}'"
              class="btn btn-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
              Edit
            </button>

            <!-- Delete Button -->
            <button class="btn btn-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
              data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete</button>

            <!-- Back to client list button -->
            <button type="button" onclick="location.href='{% url 'lead_master:lead_list' %}'"
              class="btn btn-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
              Back to Project List
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Project/lead Delete Confirmation Modal -->
{% include 'lead_master/lead_confirm_delete_modal.html' %}

{% endblock %}