{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <div class="card mt-5">
        <div class="card-body">

          <div class="card mx-auto" style="width: 80%;">

            <img class="rounded d-block card-img-top"
              src="https://res.cloudinary.com/pjdevex/image/upload/v1689184170/static/dealdesk_crm_logo/dd_hr_light_qo3739.webp"
              alt="dealdesk_crm_logo">
              
          </div>
          {% block account_content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
