{% extends "account/account_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block account_content %}
          <h5 class="card-title mx-auto mt-4">{% trans "Sign In" %}</h5>
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="mb-0">
              <input type="text" name="username" class="form-control rounded-bottom-0" placeholder="{% trans 'Username' %}" required>
            </div>
            <div class="mb-3">
              <input type="password" name="password" class="form-control rounded-top-0" placeholder="{% trans 'Password' %}" required>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-flex justify-content-between align-items-center">
              <a class="text-body {% if theme_mode == 'dark' %}text-light{% else %}text-dark{% endif %} text-decoration-none fst-italic small"
                href="{% url 'account_reset_password' %}">
                {% trans "Forgot Password?" %}
              </a>
              <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
            </div>
          </form>
{% endblock %}