{% extends "account/account_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block account_content %}
<h5 class="card-title mx-auto mt-4">{% trans "Sign In" %}</h5>
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn btn-outline-black rounded" href="{% url 'dashboard:dashboard' %}"></a>
  <div class="container">
    <div class="row">
      <div class="mb-2">
        <a class="button secondaryAction text-body {% if theme_mode == 'dark' %}text-light{% else %}text-dark{% endif %} text-decoration-none fst-italic small"
          href="{% url 'account_reset_password' %}">
          {% trans "Forgot Password?" %}
        </a>
      </div>
      <div class="d-grid gap-2 d-md-block">
        <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}