{% extends "account/account_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block account_content %}

      <div class="mt-5">
        <div class="card-body">
          <h5 class="card-title">{% trans "Sign Up Disabled" %}</h5>
          <p class="card-text">{% trans "DealDesk-CRM is a secure, private platform." %}</p>
          <p class="card-text">{% trans "Contact the administrator for access credentials, ensuring confidentiality and professional user management." %}</p>
          <p class="card-text">{% trans "Thank you." %}</p>
          <p class="card-text">
            {% trans "Administrator Contact Details:" %}
            <br>
            {% trans "Name: PJ" %}<br>
            {% trans "Email:" %} <a href="mailto:piyankara.jayadewa@gmail.com" class="text-decoration-none">piyankara.jayadewa@gmail.com</a><br>
            {% trans "Phone:" %} <a href="tel:+46761081861" class="text-decoration-none">+46 76 108 18 61</a>
          </p>
        </div>
      </div>

{% endblock %}
