{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-lg-12">
    <div class="row">
        <div class="col-12">
            <h3 class="bg-body">Task List</h3>

            <div class="d-flex flex-column">

                <!-- Filter Form -->
                <form class="mb-3" method="get" action="{% url 'task_manager:task_list' %}">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            {% for field in filter_form %}
                            <div class="col-lg-3 col-sm-6">
                                <div class="p-2">
                                    {{ field|as_crispy_field }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-secondary ms-2">Apply</button>
                            </div>
                        </div>
                    </div>
                </form> <!-- Close the form tag here -->

                <!-- View add task button -->
                <div class="d-flex justify-content-end">
                    <a href="#"
                        class="btn btn-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add a task">Add</a>
                </div>

                <!-- Task List -->
                <table class="table bg-body-tertiary table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Due Date</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th>Assigned To</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td>{{ task.title }}</td>
                            <td>{{ task.description }}</td>
                            <td class="field-due_date nowrap">{{ task.due_date|date:"F j, Y, P" }}</td>
                            <td>{{ task.status }}</td>
                            <td>{{ task.priority }}</td>
                            <td>{{ task.assigned_to }}</td>
                            <td>

                                <!-- Task details button -->
                                <button type="button"
                                    onclick="location.href='#'"
                                    class="btn btn-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                    Details
                                </button>
                            </td>
                            <td>
                                <!-- Task edit button -->
                                <button type="button" onclick="location.href='#'"
                                    class="btn btn-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                    Edit
                                </button>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No tasks found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Pagination -->
                {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div> <!-- Close the d-flex flex-column container -->

        </div>
    </div>
</div>
{% endblock %}