{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-lg-12">
  <div class="row">
    <div class="col-12">
      <h3 class="bg-body">Client List</h3>

      <!-- Filter Form -->
      <form class="mb-3" method="get" action="{% url 'client:client_list' %}">
        {% csrf_token %}
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="p-2">
                {{ filter_form.client_type|as_crispy_field }}
              </div>
            </div>
            <div class="col-sm-4">
              <div class="p-2">
                {{ filter_form.salesman|as_crispy_field }}
              </div>
            </div>
            <div class="col-sm-4">
              <div class="p-2">
                {{ filter_form.search_keyword|as_crispy_field }}
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary ms-2">Apply</button>

          
      </form>

      <!-- Easy access add client icon -->
      <div class="d-flex justify-content-end">
        <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add a client">
          <i class="fa-solid fa-square-plus fa-2xl"></i>
        </a>
    </div>


      <!-- Client List -->
      <table class="table bg-body-tertiary table-hover">
        <thead>
          <tr>
            <th>Company Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Client Type</th>
            <th>City</th>
            <th>Country</th>
            <th>Salesman</th>
          </tr>
        </thead>
        <tbody>
          {% for client in clients %}
          <tr>
            <td>{{ client.company_name }}</td>
            <td>{{ client.first_name }}</td>
            <td>{{ client.last_name }}</td>
            <td>{{ client.get_client_type_display }}</td>
            <td>{{ client.city }}</td>
            <td>{{ client.country }}</td>
            <td>{{ client.salesman }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="7">No clients found.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Pagination -->
      {% if is_paginated %}
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% endif %}
          {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
          <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}