{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-lg-12">
  <div class="row">
    <div class="col-12">
      <h3 class="bg-body">Create a new client</h3>

      <!-- Create a new client -->
      <div class="container mt-4">
        <form class="form-floating" method="post" action="{% url 'client:client_new' %}">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>

    </div>
  </div>
</div>
{% endblock %}
