.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

/* Light mode font color */
.sidebar .nav-link.navbar-light {
    color: #000000 !important;
  }
  
  /* Dark mode font color */
  [data-bs-theme="dark"] .sidebar .nav-link.navbar-light {
    color: #ffffff !important;
  }

/*
   * Sidebar
   */

@media (min-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }

    .navbar-search {
        display: block;
    }
}

.sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar-heading {
    font-size: .75rem;
}

/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}