<div class="container">
  <div class="row">
    <nav class="navbar bg-body-tertiary fixed-top d-lg-none">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'landing:index' %}">
          <img
            src="https://res.cloudinary.com/pjdevex/image/upload/v1689184170/static/dealdesk_crm_logo/dd_hr_light_qo3739.webp"
            alt="DealDesk | CRM" class="card-img-top rounded" style="width: 8rem;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">DealDesk | CRM</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item {% if request.resolver_match.url_name == 'dashboard:dashboard' %}active{% endif %}">
                <a class="nav-link" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
              </li>
              {% if user.is_authenticated %}
              <li
                class="nav-item {% if request.resolver_match.url_name == 'task_manager:task_list' %}active{% endif %}">
                <a class="nav-link" href="{% url 'task_manager:task_list' %}">Task Manager</a>
              </li>
              <li class="nav-item {% if request.resolver_match.url_name == 'lead_master:lead_list' %}active{% endif %}">
                <a class="nav-link" href="{% url 'lead_master:lead_list' %}">Projects</a>
              </li>
              <li class="nav-item {% if request.resolver_match.url_name == 'client:client_list' %}active{% endif %}">
                <a class="nav-link" href="{% url 'client:client_list' %}">Clients</a>
              </li>
              {% endif %}
              {% if not user.is_authenticated %}
              <li class="nav-item {% if request.resolver_match.url_name == 'account_signup' %}active{% endif %}">
                <a class="nav-link" href="{% url 'account_signup' %}">Signup</a>
              </li>
              <li class="nav-item {% if request.resolver_match.url_name == 'account_login' %}active{% endif %}">
                <a class="nav-link" href="{% url 'account_login' %}">Signin</a>
              </li>
              {% endif %}
              {% if user.is_authenticated %}
              <li class="nav-item {% if request.resolver_match.url_name == 'account_logout' %}active{% endif %}">
                <a class="nav-link" href="{% url 'account_logout' %}">Signout</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>