{% extends 'base.html' %}

{% block content %}
<div class="container-fluid landing-container">
  <div class="row">
    <div class="col-md-12 landing-image-container vw-100 vh-100 position-relative">
      <!-- Content for the landing page -->
      <img class="img-fluid" src="https://res.cloudinary.com/pjdevex/image/upload/v1689120365/static/dealdesk-crm/background/ind_img_n55c75.webp" alt="Background Image" style="min-height: 100vh;">
      
      <!-- Add your other landing page content here -->
      <img class="img-fluid position-absolute top-50 start-50 translate-middle rounded" src="https://res.cloudinary.com/pjdevex/image/upload/v1689184170/static/dealdesk_crm_logo/dd_sq_dark_vt0sqk.webp" alt="Logo" style="width: 35%; z-index: 10;">

      <!-- Responsive classes for adjusting logo size -->
      <div class="d-none d-md-block" style="width: 15%;"></div>
      <div class="d-md-none" style="width: 25%;"></div>
    </div>
  </div>
</div>
{% endblock %}
