{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- Container 1 - 20% height and 100% width -->
      <div class="h-20">
        <!-- Content for Container 1 -->
        <h3>Key Performance Indicators</h3>
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card mb-4">
              <div class="card-body bg-primary bg-opacity-25 border-0 rounded">
                <!-- Card 1 -->
                <h5 class="card-title">Total Leads</h5>
                <p class="card-text fs-3 fw-semibold text-center">{{ leads_count }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card mb-4">
              <div class="card-body bg-primary bg-opacity-25 border-0 rounded">
                <!-- Card 2 -->
                <h5 class="card-title">Value per Lead $</h5>
                <p class="card-text fs-3 fw-semibold text-center">{{ average_potential_value }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card mb-4">
              <div class="card-body bg-primary bg-opacity-25 border-0 rounded">
                <!-- Card 3 -->
                <h5 class="card-title">TTL Forecast $</h5>
                <p class="card-text fs-3 fw-semibold text-center">{{ total_forecasted_potential_value }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card mb-4">
              <div class="card-body bg-primary bg-opacity-25 border-0 rounded">
                <!-- Card 4 -->
                <h5 class="card-title">Top Salesperson</h5>
                <p class="card-text fs-3 fw-semibold text-center">{{ top_salesperson }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card mb-4">
              <div class="card-body bg-primary bg-opacity-25 border-0 rounded">
                <!-- Card 5 -->
                <h5 class="card-title">Leads - Cat. Leader</h5>
                <p class="card-text fs-3 fw-semibold text-center">{{ category_with_most_leads }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card mb-4">
              <div class="card-body bg-primary bg-opacity-25 border-0 rounded">
                <!-- Card 6 -->
                <h5 class="card-title">Leads Won</h5>
                <p class="card-text fs-3 fw-semibold text-center">{{ leads_won_count }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- Container 2 - 20% height and 100% width with desired margins -->
      <div class="h-20 mt-4">
        <!-- Content for Container 2 -->
        <h1>Container 2</h1>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Card 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}