{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- Container 1 - 20% height and 100% width -->
      <div class="container mt-5">
        <div class="row">
          <div class="col-12">
            <div class="h-20">
              <!-- Content for Container 1 -->
              <h3>Key Performance Indicators</h3>
              <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="mb-4">
                    <div class="card h-100 z-n1 border-0 rounded shadow">
                      <div class="card-body bg-primary bg-opacity-25 rounded">
                        <!-- Card 1 -->
                        <h5 class="card-title fs-5 fs-lg-4">Total Leads</h5>
                        <p class="card-text fs-4 fs-lg-3 fw-semibold text-center">{{ leads_count }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="mb-4">
                    <div class="card h-100 z-n1 border-0 rounded shadow">
                      <div class="card-body bg-primary bg-opacity-25 rounded">
                        <!-- Card 2 -->
                        <h5 class="card-title fs-5 fs-lg-4">Value per Lead $</h5>
                        <p class="card-text fs-4 fs-lg-3 fw-semibold text-center">{{ average_potential_value|intcomma }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="mb-4">
                    <div class="card h-100 z-n1 border-0 rounded shadow">
                      <div class="card-body bg-primary bg-opacity-25 rounded">
                        <!-- Card 3 -->
                        <h5 class="card-title fs-5 fs-lg-4">TTL Forecast $</h5>
                        <p class="card-text fs-4 fs-lg-3 fw-semibold text-center">{{ total_forecasted_potential_value|intcomma }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="mb-4">
                    <div class="card h-100 z-n1 border-0 rounded shadow">
                      <div class="card-body bg-primary bg-opacity-25 rounded">
                        <!-- Card 4 -->
                        <h5 class="card-title fs-5 fs-lg-4">Top Salesperson</h5>
                        <p class="card-text fs-4 fs-lg-3 fw-semibold text-center">{{ top_salesperson }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="mb-4">
                    <div class="card h-100 z-n1 border-0 rounded shadow">
                      <div class="card-body bg-primary bg-opacity-25 rounded">
                        <!-- Card 5 -->
                        <h5 class="card-title fs-5 fs-lg-4">Top Category</h5>
                        <p class="card-text fs-4 fs-lg-3 fw-semibold text-center">{{ category_with_most_leads }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                  <div class="mb-4">
                    <div class="card h-100 z-n1 border-0 rounded shadow">
                      <div class="card-body bg-primary bg-opacity-25 rounded">
                        <!-- Card 6 -->
                        <h5 class="card-title fs-5 fs-lg-4">Leads Won</h5>
                        <p class="card-text fs-4 fs-lg-3 fw-semibold text-center">{{ leads_won_count }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <!-- Container 2 - 80% height and 100% width with desired margins -->
          <div class="h-20 mt-4">
            <!-- Content for Container 2 -->
            <!-- <h1>Container 2</h1> -->
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="card mb-4 border-0 rounded shadow-lg">
                  <div class="card-body">
                    <h5 class="card-title">Sales Funnel</h5>
                    <canvas id="lead_winning_chance_chart" width="400" height="300"></canvas>

                    <!-- Use of lib: Script for Sales funnel chart -->
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script>
                      const ctx = document.getElementById('lead_winning_chance_chart');
                      new Chart(ctx, {
                        type: 'bar', // Change to a horizontal bar chart
                        data: {
                          labels: [{% for label in winning_chance_labels %}'{{ label }}',{% endfor %}],
                          datasets: [{
                            label: '# of Leads',
                            data: [{% for data in winning_chance_data %}{{ data }}, {% endfor %}],
                            borderWidth: 1,
                            backgroundColor: [
                              'rgba(54, 162, 235, 0.1)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(54, 162, 235, 0.4)',
                              'rgba(54, 162, 235, 0.6)',
                              'rgba(54, 162, 235, 0.8)',
                              'rgba(54, 162, 235, 0.9)',
                              'rgba(54, 162, 235)'
                            ],
                            borderColor: [
                              'rgba(54, 162, 235, 0)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(54, 162, 235, 0.4)',
                              'rgba(54, 162, 235, 0.6)',
                              'rgba(54, 162, 235, 0.8)',
                              'rgba(54, 162, 235, 0.9)',
                              'rgba(54, 162, 235)'
                            ]
                          }]
                        },
                        options: {
                          indexAxis: 'y', // Set indexAxis property to 'y' for a horizontal bar chart
                          scales: {
                            y: {
                              beginAtZero: true,
                              ticks: {
                                font: {
                                  size: 14 // font size for y-axis
                                }
                              },
                              grid: {
                                display: false // Hide the y-axis grid lines
                              }
                            },
                            x: {
                              beginAtZero: true,
                              ticks: {
                                precision: 0 // Set precision to 0 for displaying integers
                              },
                              grid: {
                                display: false // Hide the x-axis grid lines
                              }
                            }
                          },
                          plugins: {
                            legend: {
                              display: false
                            }
                          }
                        }
                      });
                    </script>
                    <!-- End of Use of lib -->

                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="card mb-4 border-0 rounded shadow-lg">
                  <div class="card-body">
                    <h5 class="card-title">Sales Forecast ($)</h5>
                    <canvas id="lead_forecast_pxp_chart" width="400" height="300"></canvas>

                    <!-- Use of lib: Script for Sales forecast chart -->
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script>
                      const forecastPxpChartCtx = document.getElementById('lead_forecast_pxp_chart');
                      new Chart(forecastPxpChartCtx, {
                        type: 'line',
                        data: {
                          labels: [{% for label in sales_forecast_labels %}'{{ label }}',{% endfor %}],
                          datasets: [{
                            label: 'Sales Forecast',
                            data: [{% for value in sales_forecast_values %}{{ value }}, {% endfor %}],
                            fill: false,
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 2
                          }]
                        },
                        options: {
                          scales: {
                            x: {
                              beginAtZero: true,
                              ticks: {
                                font: {
                                  size: 14 // font size for y-axis
                                }
                              },
                              grid: {
                                display: false // Hide the x-axis grid lines
                              }
                            },
                            y: {
                              beginAtZero: true,
                              ticks: {
                                font: {
                                  size: 14 // font size for y-axis
                                }
                              },
                              grid: {
                                display: false // Hide the y-axis grid lines
                              }
                            }
                          },
                          plugins: {
                            legend: {
                              display: false // Hide the legend
                            }
                          }
                        }
                      });
                    </script>
                    <!-- End of Use of lib -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
