{% load static %}

<!-- Vertical Navbar -->
<div class="vertical-navbar bg-body-tertiary">
    <nav class="navbar navbar-expand-lg bg-body-tertiary flex-column">
        <div class="container-fluid">

            <!-- Navbar Toggler Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Collapsible Content -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!-- Dashboard Link  -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                    </li>

                    <!-- Task Manager Link -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Task Manager</a>
                    </li>

                    <!-- Project Link -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projects</a>
                    </li>

                    <!-- Clients Link -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Clients</a>
                    </li>

                    <!-- Team Link -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>

                    <!-- Slog Link -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Slog</a>
                    </li>

                    <!-- Mode Switch -->
                    <li class="nav-item my-auto">
                        <form class="form-check form-switch">
                            <input class="form-check-input border bg-dark border-black shadow-none" type="checkbox"
                                role="switch" id="flexSwitchCheckChecked" checked onclick="lightdarkfunction()">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Mode</label>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>